.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (min-width: 600px) {
  input {
    border: 0;
    width: 30px;
    font-size: large;
    text-align: right;
  }
}

/* Apply these styles when the device width is less than 600px */
@media (max-width: 599px) {
  input {
    border: 0;
    width: 15px;
    font-size: medium;
    text-align: center;
  }
}
/* 
input {
  border: 0;
  width: 20px;
  font-size: medium;
  text-align: right;
} */

table {
  margin:1em auto;
}
td {
  height:30px;
  width:30px;
  border:1px solid;
  text-align:center;
}
td:first-child {
  border-left:solid;
}
td:nth-child(3n) {
  border-right:solid ;
}
tr:first-child {
  border-top:solid;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
}